.Drawings-For-User {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-left: 25px;
  margin-top: 50px;
}

.DeleteAndShare {
  display: flex;
  justify-content: space-around;
  // flex-direction: ;
  align-items: center;
  align-content: center;
  margin-right: 15px;
}

.LunchDiningRounded {
  color: #b983ff;
}
