.WelcomeMessage {
  display: flex;
  flex-direction: row;
  margin-right: 75px;
  color: #3D3d3d;
}

.logoutbutton {
   margin-left: 20px;

}

#logout {
 background-color: #ff6961;
 color: #3D3d3d;
}
