.MuiCardActions-root {
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
}

.showcase-item {
  margin-bottom: 25px;
}

.MuiPaper-root {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #faf8f6;
}

.MuiPaper-root:hover {
  box-shadow: 8px 8px #b7bcb6;
}

.MuiCardContent-root {
  background-color: white;
  border-bottom: black 2px;
  // overflow: hidden;
}

// .MuiButton-root {
//   color: black;
// }
