.MuiPaper-root .MuiButton-root {
  color: #3D3d3d;
}


.MuiCardContent-root .header {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  
}


.MuiSvgIcon-root {
  margin-left: 10px;
  padding-bottom: 15px;
}