// .MuiBox-root {
//   margin-left: 50px;
// }

.MuiPaper-root .MuiButton-root {
  color: #3D3d3d;
}

// .MuiSvgIcon-root .css-ag7rrr-MuiTypography-root {
//   margin: 25px;
// }
.MuiCardContent-root .header {
  display: flex;
  flex-direction: row;
  margin-left: 10px;


  
}

.MuiCardActions-root .MuiCardActions-spacing .css-1t6e9jv-MuiCardActions-root{
    display: none;
  }


.MuiSvgIcon-root {
  margin-left: 10px;
  padding-bottom: 15px;
  // align-self: flex-end;
}