.App {
  font-family: sans-serif;
  text-align: center;
}

html,
body,
#root,
.App,
#mapId {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* hide directions for lealfet routing machine using css
*/
/* .leaflet-routing-container {
  display: none;
} */
/*
-attempting to remove faint border aorund undo and save buttons
-come back to this later (.leaflet-control)
*/

/* Removes border from leaflet control items */
.leaflet-touch .leaflet-bar {
  border: 0px;
}

.UndoAndSave {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-left: 25px;
  margin-top: 50px;
}

/* .ShowcaseButton {
  display: flex;
  justify-content: space-between;
} */
