.App {
  font-family: sans-serif;
  text-align: center;
}

html,
body,
#root,
.App,
#mapId {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* hide directions for lealfet routing machine using css
*/
/* .leaflet-routing-container {
  display: none;
} */
/*
-attempting to remove faint border aorund undo and save buttons
-come back to this later (.leaflet-control)
*/
